body {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
 
}

.cinema {
    width: 960px;
    height: 400px;
}

.big_photo {
    width: 420px;
    height: 400px;
   /*position: absolute;*/
}


.slider {
    position: absolute;
    top: -100px;
    width: 450px;
    margin: 0 auto;
    
}

.oya{
    position: relative;

}

.ani{
    width: 960px;
    height: 400px;
}
.ko{
    position: absolute;
    top: 0;
}

.milk{
    width: 420px;
    height: 400px;
}